@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/Shared/Layout.cshtml";
}
@section Header{
    <link href="@Url.Content("~/Content/css/fileupload/jquery.fileupload-ui.css")" rel="stylesheet" media="screen">
    <script src="@Url.Content("~/Content/js/libs/mdc.js")"></script>
    <script src="@Url.Content("~/Content/js/libs/underscore-1.4.4.js")"></script>
    <script src="@Url.Content("~/Content/js/libs/backbone-1.0.0.js")"></script>
    <script src="@Url.Content("~/Content/js/fileupload/vendor/jquery.ui.widget.js")"></script>
    <script src="@Url.Content("~/Content/js/fileupload/load-image.min.js")"></script>
    <script src="@Url.Content("~/Content/js/fileupload/canvas-to-blob.min.js")"></script>
    <script src="@Url.Content("~/Content/js/fileupload/jquery.iframe-transport.js")"></script>
    <script src="@Url.Content("~/Content/js/fileupload/jquery.fileupload.js")"></script>
    <script src="@Url.Content("~/Content/js/fileupload/jquery.fileupload-process.js")"></script>
    <script src="@Url.Content("~/Content/js/fileupload/jquery.fileupload-image.js")"></script>
    <script src="@Url.Content("~/Content/js/fileupload/jquery.fileupload-audio.js")"></script>
    <script src="@Url.Content("~/Content/js/fileupload/jquery.fileupload-video.js")"></script>
    <script src="@Url.Content("~/Content/js/fileupload/jquery.fileupload-validate.js")"></script>
    <script src="@Url.Content("~/Content/js/libs/backbone.defered-view-loader.js")"></script>
    <script src="@Url.Content("~/Content/js/libs/backbone.upload-manager.js")"></script>
    <script src="@Url.Content("~/Content/js/libs/jquery.zclip.min.js")"></script>
    <script src="@Url.Content("~/Content/js/libs/handlebars.js")"></script>
    <script type="text/javascript">
        var urlZClip="@Url.Content("~/Content/ZeroClipboard.swf")";
        var urlTemplates = '@Url.Content("~/templates/")';
        var url = '@Url.Content("~/files")';
        var uploadedMessage = "@Text.Text.UploadedMessage";
    </script>
    <script src="@Url.Content("~/Content/js/main.js")"></script>
}

<div id="uploadSection">
</div>
<div class="well">
    <h3>@Text.Text.Advice</h3>
    <ul>
        <li>@Text.Text.Advice1</li>
        <li>@Text.Text.Advice2</li>
    </ul>
</div>
